@import './variables';
/* The animation code */
.App {
  nav {
    // height: 4vh;
    // height: 4%;
    // margin-bottom: $p-m;
    z-index: 2;
    opacity: 0.8;
  }

  .weather {
    // min-height: 28vh;
    // min-height: 28%;
    // margin: $p-m 0;
    opacity: 0.8;
  }

  .content {
    // border: 1px solid red;
    // height: calc(90vh - 4vh - 25vh - 20vh - 6*$p);
    margin: $p-m 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover; // Assurer que l'image de fond couvre tout l'espace
    border-radius: $b-radius;
    
    
    .c-col {
      height: 500px;
      font-size: 0.8em;
      padding: 0;
      // @media screen and (min-width: $lg) {
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important;
      // }

      &.map {
        padding: 0 1.5em;
      }
      .c-item {
        height: 48%;
        width: 100%;
        padding: $p;
        color: $c-white;
        border-radius: $b-radius;
        box-shadow: $shadow;
        opacity: 0.8;
        background-image: url('./assets/images/sun.jpg');
        .title {
          font-size: 1.7em;
          font-family: $f-art;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .c-card {
          padding: $p;
          margin-top: $p;
          height: 75%;
          width: 90%;
          font-size: 1.2em;
          background-color: rgb(159 197 197 / 41%);
          border-radius: $b-radius;
          box-shadow: $shadow;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .unsplash {
    // height: 12vh;
    margin: $p-m 0;
  }
  .draggable-chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  
    .chatbot-window {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      cursor: move; // Style pour indiquer qu'il est déplaçable
      max-width: 350px;
      min-height: 500px;
  
      // Style pour la barre de titre du chatbot
      .chatbot-header {
        background-color: #333;
        color: white;
        padding: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
        font-weight: bold;
      }
  
      // Style pour le contenu du chatbot
      .chatbot-content {
        padding: 20px;
      }
    }
  }
  
  footer {
    height: 5vh;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

@keyframes moveRight {
  from {left: -520px;}
  to {left: 2500px;}
}

.cloud {
  background: no-repeat url('./assets/images/bgs/n1.png');
  width: 700px;
  height: 300px;
  position: fixed;
  opacity: 0.5;
  overflow:hidden;
  z-index: 1;
}

.cloud-1 {
  top: 0;
  animation-name: moveRight;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}

.cloud-2 {
  top: 150px;
  left: -500px;
  transform: scaleX(-1);
  animation-name: moveRight;
  animation-duration: 45s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}